
<div class="pldr-navbar">
    <div class="row">
        <div class="col-md-12 m-r">
            <ul class="">
                <li class="hidden-xs">
                    <a data-toggle="dropdown" class="dropdown-toggle clear">
                <span class="thumb-sm avatar">
                  <img ng-src="{{ctrl.user.avatar || 'app/assets/images/avatar_grey.png'}}" alt="...">
                </span>
                    <span class="hidden-sm hidden-md">&nbsp;{{ ctrl.user.Name }}</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeIn w">
                        <li>
                            <a ui-sref="user.view" translate>Edit profile</a>
                        </li>

                        <li>
                            <a ui-sref="auth.logout" translate>Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

        <!--
        <div class="text-right">

            <div ng-if="user.id">
                {{user.username}},
                <a ui-sref="logout">{{user.username}} in administratie {{user.bedrijf}} logout</a>
            </div>

        </div>-->

    </div>
</div>
