<!--                                     -->
<!-- Details User                      -->
<!-- 20150816 layout                     -->
<!--                                     -->
<h3>Details Gebruiker</h3>
<hr/>
<form ng-submit="clickSave(form)" name="form" novalidate>
  <a ui-sref="user.list"                          class="btn btn-lg btn-success">Terug</a>
  <div class='pull-right mb10'>
     <button type="button" ng-click="clickPre()"  class="btn btn-lg btn-success">Vorig</button>
     <button type="button" ng-click="clickNext()" class="btn btn-lg btn-success">Volgende</button>
  </div>
  <hr/>
  <div class="clearfix"></div>
  <div class="jumbotron">
    <table class="table table-bordered"> <!--" table-striped table-hover" -->
      <tr><td>Username</td><td> <input type="text" readonly ng-model="user.Username" name="username" class="form-control input" placeholder="Username" required/><p class="help-block" ng-show="form.username.$error.required && submitted">This input is required</p></td></tr>
      <tr><td>Passwrd</td><td>  <input type="text"          ng-model="user.Passwrd"  name="passwrd"  class="form-control input" placeholder="Passwrd"  required/><p class="help-block" ng-show="form.passwrd.$error.required && submitted">This input is required</p></td></tr>
      <tr><td>Name</td><td>  <input type="text"          ng-model="user.Name"  name="name"  class="form-control input" placeholder="Name"  required/><p class="help-block" ng-show="form.name.$error.required && submitted">This input is required</p></td></tr>
      <tr><td>Email</td><td>  <input type="email"          ng-model="user.Email"  name="email"  class="form-control input" placeholder="Email"  required/><p class="help-block" ng-show="form.email.$error.required && submitted">This input is required</p></td></tr>
      <tr><td>Bedrijf</td><td>  <input type="text"          ng-model="user.Bedrijf"  name="bedrijf"  class="form-control input" placeholder="Bedrijf"  required/><p class="help-block" ng-show="form.bedrijf.$error.required && submitted">This input is required</p></td></tr>
    </table>
  </div>
  <hr/>
  <button type="submit" class="btn btn-lg btn-primary"> Opslaan</button>
  <button type="button" ng-click="clickCancel()" class="btn btn-lg btn-primary">Annuleer</button>
  <button type="button" ng-click="clickDel()"    class="btn btn-lg btn-success">Verwijder</button>
  <hr/>
</form>
