<form ng-submit="clickSave(form)" name="form" novalidate>
  <div class="jumbotron">
    <h1>{{ person.name}} {{ person.lastname}}</h1>
    <h2> Volledige naam: {{ person.name}} {{ person.lastname}} </h2>
    <h2>ID: {{ person.id}}</h2>
    <strong>{{ person.age}} jaar </strong>,
    <a href="mailto:{{ person.email}}">{{ person.email}}</a>
    <br /><br />
    <table>
      <tr>
        <td>Voornaam&nbsp;&nbsp;</td>
        <td>
          <input type="text" ng-model="person.name" name="name"
                 class="form-control input"
                 placeholder="voornaam" required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            This input is required
          </p>
        </td>
      </tr>
      <tr>
        <td>Naam</td>
        <td>
          <input type="text" ng-model="person.lastname" name="lastname"
                 class="form-control input" placeholder="achternaam" required/>
          <p class="help-block" ng-show="form.lastname.$error.required && submitted">
            This input is required
          </p>
        </td>
      </tr>
      <tr>
        <td>Leeftijd</td>
        <td>
          <input type="number" ng-model="person.age" name="age"
                 class="form-control input" min="18"
                 placeholder="leeftijd" required/>
          <p class="help-block" ng-show="form.age.$error.required && submitted">
            This input is required
          </p>
          <p class="help-block" ng-show="form.age.$error.min && submitted">
            Age must be 18+
          </p>
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>
          <input type="text" ng-model="person.email" name="email"
                 class="form-control input"
                 ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                 placeholder="e-mailadres" required/>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            This input is required
          </p>
          <p class="help-block" ng-show="form.email.$error.pattern && submitted">
            Email-adress is not valid
          </p>
        </td>
      </tr>
      <tr>
        <td>Soortlid</td>
        <td>
          <select type="text" ng-model="person.soortlid" name="soortlid"
                  ng-options="item.SoortLid as item.Omschrijving for item in soortlid"
                  class="form-control input" required>
          </select>
          <p class="help-block" ng-show="form.soortlid.$error.required && submitted">
            Please select an item
          </p>
        </td>
      </tr>
      <tr>
        <td>Regio</td>
        <td>
          <select type="text" ng-model="person.regio" name="regio"
                  ng-options="item.Regio as item.Omschrijving for item in regio"
                  class="form-control input" required>
          </select>
          <p class="help-block" ng-show="form.regio.$error.required && submitted">
            Please select an item
          </p>
        </td>
      </tr>
    </table>
  </div>
  <hr/>
  <!-- <a href="#/home" class="btn btn-lg btn-success">Home</a> -->
  <a ui-sref="home" class="btn btn-lg btn-success">
    Home
  </a>

  <button type="submit" class="btn btn-lg btn-primary">
    Opslaan
  </button>

  <button type="button" ng-click="clickCancel()" class="btn btn-lg btn-primary">Annuleer</button>
  <button type="button" ng-click="clickDel()" class="btn btn-lg btn-success">Verwijder</button>
  <button type="button" ng-click="clickPre()" class="btn btn-lg btn-success">Vorig</button>
  <button type="button" ng-click="clickNext()" class="btn btn-lg btn-success">Volgende</button>
</form>
