<!--                                     -->
<!-- Details Regio                      -->
<!-- 20150816 layout                     -->
<!-- 20150914 Tekstueel                  -->
<!--                                     -->
<h3><b>Details Regio</b></h3>
<hr/>
<form ng-submit="clickSave(form)" name="form" novalidate>
  <a ui-sref="regio.list"                        class="btn btn-lg btn-success">Terug</a>
  <div class='pull-right mb10'>
     <button type="button" ng-click="clickPre()"  class="btn btn-lg btn-success">Vorige</button>
     <button type="button" ng-click="clickNext()" class="btn btn-lg btn-success">Volgende</button>
  </div>
  <hr/>
  <div class="clearfix"></div>
  <!--  <div class="jumbotron">
  Override rounded corners in jumbotron -->
  <div style="border-radius: 0px !important" class="jumbotron">
    <table class="table table-bordered"> <!--" table-striped table-hover" -->
      <tr><td><b>Regio</b></td>
      <td>
          <input type="text" readonly ng-model="regio.Regio" name="regio" class="form-control input" placeholder="Regio" required/><p class="help-block" ng-show="form.regio.$error.required && submitted">Dit veld is verplicht</p>
      </td>
      </tr>
      <tr>
          <td><b>Omschrijving</b></td>
          <td>
            <input type="text" ng-model="regio.Omschrijving" name="omschrijving" class="form-control input" placeholder="Omschrijving" required/>
            <p class="help-block" ng-show="form.omschrijving.$error.required && submitted">Dit veld is verplicht</p>
          </td>
      </tr>
    </table>
  </div>
  <hr/>
  <!-- <a href="#/home" class="btn btn-lg btn-success">Home</a> -->
  <button type="submit" class="btn btn-lg btn-new"> Opslaan</button>
  <button type="button" ng-click="clickCancel()" class="btn btn-lg btn-cancel">Annuleer</button>
  <button type="button"    class="btn btn-lg btn-delete" element-deletion
          options="{askBeforeDelete: true, usePromise: true}"
          deletion-on-success="deletionOnSuccess"
          ng-model="regio.Regio"
          deletion-service="regioService.delRegio">Verwijder</button>
  <hr/>
</form>
