<!--                                     -->
<!-- Dashboard                           -->
<!--                                     -->
<h3><b>Dashboard</b></h3>
<hr/>
<div>
<!--  <br><br> -->
  <div class="dashboard-grid">
        <tbody>
		<!-- 		<tr ng-repeat="db in ctrl.model.dashboards | limitTo:2" > -->
<!--
		<tr ng-repeat="db in ctrl.model.dashboards.slice(0,2)" >
		<td>{{ db.Omschrijving }}</td>
            <td>{{ db.Aantal }}</td>
            <td>{{ db.Bedrag | currency }}</td>
          </tr>


		<div class="container">
			<div class="row">

<div class="col-md-6">
<p> bla bla </p>
		<tr ng-repeat="db in ctrl.model.dashboards.slice(2,3)" >
		{{ db.Omschrijving }}
        {{ db.Aantal }}
        {{ db.Bedrag | currency }}
        </tr>
</div>
<div class="col-md-6">
<p> bla bla </p>
		<tr ng-repeat="db in ctrl.model.dashboards.slice(3,4)" >
		<td>{{ db.Omschrijving }}</td>
            <td>{{ db.Aantal }}</td>
            <td>{{ db.Bedrag | currency }}</td>
          </tr>
</div>
			</div>
		</div>
-->
    <div class="container" style="margin: 20px;" ng-cloak>
        <h1>PolderWeb</h1>
        <div ng-if="!graph1data[0].length || !graph2data[0].length" class="col-sm-3"></div>
        <div ng-if="graph1data[0].length" class="col-sm-6">
            <h4>Betaald per maand</h4>
            <canvas id="bar" class="chart chart-bar"
              chart-data="graph1data" chart-labels="graph1labels">
            </canvas>
        </div>
        <div ng-if="graph2data[0].length" class="col-sm-6">
            <h4>Inschrijvingen per maand</h4>
            <canvas id="bar" class="chart chart-bar"
              chart-data="graph2data" chart-labels="graph2labels">
            </canvas>
        </div>
        <div ng-if="!graph1data[0].length || !graph2data[0].length" class="col-sm-3"></div>
        <div class="row">
            <div class="col-md-6" ng-repeat="db in ctrl.model.dashboards">
                <div class="flightCard">
                    <div class="approvedFlight">
                        <h3>{{db.Omschrijving}}</h3>
                    </div>
                    <div>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;Bedrag: {{db.Bedrag | currency}}</span>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;Aantal: {{db.Aantal}}</span>
<!--
  <code>bedrag={{db.Bedrag}}</code>
<div ng-switch on="bedrag">
    <div ng-switch-when=0>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;Bedrag: {{db.Bedrag | currency}}</p>
    </div>
    <div ng-switch-default>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;Aantal: {{db.Aantal}}</p>
    </div>
</div>
-->
                        <div class="pull-right">
							<button type="button" ng-click="clickCancel()" class="btn btn-sm btn-cancel">Meer..</button>
						</div>
						</br>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>

    </tbody>
	</div>
  </div>
</div>
